.container {
  text-align: center;
}
h1,
p {
  text-align: center;
}
p {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.colorcont {
  margin: 150px;
}
.button {
  padding: 50px;
  border: 2px solid black;
  margin: 2px;
}
#white {
  background-color: white;
}
#grey {
  background-color: grey;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
